*, *::before, *::after {
  box-sizing:border-box;
}

body {
  background-color: #505961;
  font-family: Robot, sans-serif;
}

.logo {
  text-align: center;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}